
.metadata
.recommenders
RemoteSystemsTempFIles

#bin ignorados
04 - CONTROLES DECISOES E LOOPS/bin/
05  -VETORES-E-MATRIZES/bin/
06 - FOR-EASH-DEBUG-APP-JAVA/bin/


#Repositorio da Loiane https://github.com/loiane/curso-java-basico/
99-REPOSITORIO-GIT
